{% extends 'base.html' %}

{% block content %}

<h3>Home Page</h3>
<a class="btn btn-primary" href="/user_login/">Login</a>
<a class="btn btn-success" href="/signup/mentee/">Signup for Mentee</a>
<a class="btn btn-success" href="/signup/mentor/">Signup for Mentor</a>
<a class="btn btn-primary" href="/public/forum/page-1">public forum</a>
<a class="btn btn-primary" href="/government-schemes/">Schemes</a>
<a class="btn btn-primary" href="/news?type=business">News</a>
<a class='btn btn-primary' href="/request/2">request a mentor</a> <!--Here 2 is sujithsingh235 mentor id-->
<a class="btn btn-primary" href="/request/mentor/mentor_requests">Mentor requests</a>
<a class="btn btn-primary" href="/request/mentee/2/my_request">Mentee requests</a>

{% endblock %}