{% extends 'base.html' %}

{% block content %}

<h3>Mentee Home</h3>

<h4> hello {{ data.name }} </h4>

<a class="btn btn-primary" href="/logout/">Logout</a>
<div class="container">
	<div class="row">
		<div class="col">
			<ul class="list-group">
				<a class="list-group-item list-group-item-action" href="/search_mentor/">Search mentors</a>
				<a class="list-group-item list-group-item-action" href="#">My mentors</a>
				<a class="list-group-item list-group-item-action" href="/my_requests/">Requests</a>
				<a class="list-group-item list-group-item-action" href="#">My details</a>
			</ul>
		</div>
	</div>
</div>

{% endblock %}