{% extends 'base.html' %}

{% block content %}

<center><h2> My questions</h2></center>
<ul>
	{% if exist %}
		{% for question in questions %}  <!--already asked questions sorted descending by posted time-->
			<li><a href=./{{question.id}}>
				{{question.question}}</a></br>
				Time:{{question.posted_time}}
			</li>
				<a href="/public/forum/delete_question/{{question.id}}?to=goto my questions page">delete</a>
		{% endfor %}	
	{% else %}
		<div class="d-flex justify-content-center align-items-center" style="height:100vh">
			<h1 class="font-weight-bold">No Favorite</h1>
		</div>
	{% endif %}
</ul>

{% endblock %}