{% extends 'base.html' %}

{% block content %}

<center><h2> Public forum</h2></center>
<ul>
	<li><a href="./create_new_question">
		new question  <!-- when the user wants to ask a question, he will click this one-->
	</a></li>
	{% if exist %}
		{% for question in questions %}  <!--already asked questions sorted descending by posted time-->
			<li><a href=./{{question.id}}>
				{{question.question}}</a></br>
				User:{{question.user}}</br>
				Time:{{question.posted_time}}
			</li>
		{% endfor %}	
	{% else %}
		<h2>No questions</h2>
	{% endif %}
</ul>

{% endblock %}