{% extends 'base.html' %}

{% block content %}
<!-- This page will show a detailed view of a question and its answers-->
<h2>Question</h2>

{% csrf_token %}
<script type="text/javascript">
    function add_to_fav(id)      // This code is for fav
    {
        var x = new XMLHttpRequest();
        x.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText != 'success') {       //if the user didnt login, the response text will not be success . Then we will redirect to login page.
                    window.location = this.responseURL;
                }
                else if(this.responseText == 'success'){
                    document.getElementById('fav_id').innerHTML = "added to fav";
                    document.getElementById('fav_id').setAttribute('onclick','remove_fav("{{question.id}}")')
                }
            }
        };
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        x.open('POST', '/public/forum/fav_add', true);
        x.setRequestHeader('X-CSRFToken', csrftoken);
        x.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        x.send("question_id=" + id);
    }
    function remove_fav(id)      // This code is for removing fav
    {
        var x = new XMLHttpRequest();
        x.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //if the user didnt login, the response text will not be success . Then we will redirect to login page.
                if (this.responseText != 'success') {       
                    window.location = this.responseURL;
                }
                else 
                if(this.responseText == 'success'){
                    document.getElementById('fav_id').innerHTML = "add to fav";
                    document.getElementById('fav_id').setAttribute('onclick','add_to_fav("{{question.id}}")')
                }
            }
        };
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        x.open('POST', '/public/forum/fav_remove', true);
        x.setRequestHeader('X-CSRFToken', csrftoken);
        x.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        x.send("question_id=" + id);
    }
    //The below function is for add like
    function add_like(answer_id,like)
    {
        like = parseInt(like) + 1;
        var x = new XMLHttpRequest();
        x.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //if the user didnt login, the response text will not be success . Then we will redirect to login page.
                if (this.responseText != 'success') {       
                    window.location = this.responseURL;
                }
                else if(this.responseText == 'success'){
                    document.getElementById('like_id_'+answer_id).innerHTML = "liked";
                    param = "remove_like("+answer_id+","+like+")";
                    document.getElementById('like_id_'+answer_id).setAttribute('onclick',param);
                    document.getElementById('like_badge_'+answer_id).innerHTML = like;
                }
            }
        };
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        x.open('POST', '/public/forum/add_like', true);
        x.setRequestHeader('X-CSRFToken', csrftoken);
        x.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        x.send("answer_id=" +answer_id);
    }
    //The below function is for remove like
    function remove_like(answer_id,like)
    {
        like = parseInt(like) - 1;
        var x = new XMLHttpRequest();
        x.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //if the user didnt login, the response text will not be success . Then we will redirect to login page.
                if (this.responseText != 'success') {       
                    window.location = this.responseURL;
                }
                else if(this.responseText == 'success'){
                    document.getElementById('like_id_'+answer_id).innerHTML = "like";
                    param = "add_like("+answer_id+","+like+")";
                    document.getElementById('like_id_'+answer_id).setAttribute('onclick',param);
                    document.getElementById('like_badge_'+answer_id).innerHTML = like;
                }
            }
        };
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        x.open('POST', '/public/forum/remove_like', true);
        x.setRequestHeader('X-CSRFToken', csrftoken);
        x.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        x.send("answer_id=" +answer_id);
    }
    function report(id,operation,QorA)
    {
        var x = new XMLHttpRequest(); 
        element_id = QorA+"_report_"+id;
        x.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //if the user didnt login, the response text will not be success . Then we will redirect to login page.
                if (this.responseText != 'success') {       
                    window.location = this.responseURL;
                }
                else if(this.responseText == 'success'){
                   handle = document.getElementById(element_id);
                   if(operation == "add_report"){
                        handle.innerHTML = "reported";
                        param = "report('"+id+"','remove_report','"+QorA+"')";
                        handle.setAttribute('onclick',param);
                   }
                   else if(operation == "remove_report"){
                        handle.innerHTML = "report";
                        param = "report('"+id+"','add_report','"+QorA+"')";
                        handle.setAttribute('onclick',param);   
                   }
                }
            }
        };
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        x.open('POST', '/public/forum/report', true);
        x.setRequestHeader('X-CSRFToken', csrftoken);
        x.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        x.send("id="+id+"&operation="+operation+"&QorA="+QorA);
    }
</script>
<h6>{{question.question}}</h6>
<p>{{question.description}}</p>
<!--Favourite button-->
    <button id="fav_id" type="button" 
    {% if fav %}  
        onclick='remove_fav("{{question.id}}")'>
        added to fav
    {% else %}
        onclick='add_to_fav("{{question.id}}")'>
        add to fav
    {% endif %}
    </button>
<!---->
<!--Report-->
    <br>
    <button id="question_report_{{question.id}}" type='button'
    {% if question.id not in reported_questions %}
        onclick="report('{{question.id}}','add_report','question')">report</button>
    {% else %}
        onclick="report('{{question.id}}','remove_report','question')">reported</button>
    {% endif %}
<!--/Report-->

<a href="./write_answer/{{question.id}}" class="btn btn-success">Add an answer</a>
<h2>Answers</h2>
{% if exist %}
{% for answer,no_of_comments,no_of_likes,liked_users in answers %}
<h6>{{answer.answer}}</h6>
<p>Posted by: {{answer.user}}</p>
<p>Posted time: {{answer.posted_time}}</p>
<a href="./comments/{{answer.id}}" class="btn btn-success">comments
    <span class="badge badge-light">{{no_of_comments}}</span>
    <!--number of comments-->
</a>
{% if answer.user == current_user %}
<a href="/public/forum/edit_answer/{{answer.id}}/{{question.id}}">edit</a>
<!--The user can edit his answers-->
<a href="/public/forum/delete_answer?answer_id={{answer.id}}&question_id={{question.id}}">delete</a></br>
<!--The user can delete his answer-->
{% endif %}
<form method="POST" action="./like">
    {% if current_user != answer.user %}
        <!--The like option should not be available for the creator of that answer-->
    <!--like button-->        
        <button id="like_id_{{answer.id}}" type='button' 
        {% if current_user not in liked_users %}
            onclick="add_like('{{answer.id}}','{{no_of_likes}}')">
            like
        {% else %}
            onclick="remove_like('{{answer.id}}','{{no_of_likes}}')">
            liked
        {% endif %}
        </button>
    <!--/like button-->
    {% endif%}

    <span id="like_badge_{{answer.id}}" class="badge">{{no_of_likes}}</span>
</form>
<!--Report-->
    <button id="answer_report_{{answer.id}}" type='button' 
    {% if answer.id not in reported_answers %}
        onclick="report('{{answer.id}}','add_report','answer')">report</button>
    {% else %}
        onclick="report('{{answer.id}}','remove_report','answer'">reported</button>
    {% endif %}
<!--/Report-->
{% endfor %}
{% else %}
<h4>No answers</h4>
{% endif %}


{% endblock %}